[submodule "weewx"]
	path = weewx
	url = https://github.com/weewx/weewx.git
[submodule "weewx_v520"]
	path = weewx_v520
	url = https://github.com/weewx/weewx.git
[submodule "weewx_v531"]
	path = weewx_v531
	url = https://github.com/weewx/weewx.git
